*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background: #000;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 .5rem 0;
  text-align: center;
}

h1 {
  font-size: 5.063rem;
}

@media (min-width: 576px) {
  h1 {
    font-size: 7.594rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 11.391rem;
  }
}

h2 {
  font-size: 2.25rem;
}

@media (min-width: 576px) {
  h2 {
    font-size: 5.063rem;
  }
}


h3 {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  h3 {
    font-size: 2.25rem;
  }
}

p {
  margin: 0 0 1rem 0;
}

a {
  display: inline-block;
  color: #5e8780;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

small {
  font-size: .8rem;
  margin: .5rem 0;
  display: block;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.splash-header {
  background: url('./ghost_metamorphosis.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  min-height: 100vh;
}

.splash-footer {
  text-align: center;
  padding: 1rem 0;
}

.social {
  display: flex;
  width: 100%;
  max-width: 300px;
  justify-content: space-evenly;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.social li {
  margin-bottom: 0;
}

.social-link {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms ease;
  fill: #000;
  background-color: #5e8780;
}

.social-link:hover {
  background-color: #4D6E68;
  text-decoration: none;
}

.soon {
  margin-bottom: 0;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  padding: 1rem 0;
}

.email {
  margin-bottom: 1rem;
  word-break: break-all;
}

.gear {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .gear {
    grid-template-columns: repeat(2, 1fr);
  }
}