:root {
  --blue: #0c93b9;
  --red: #be0301;
}

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('fonts/lato-v22-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/lato-v22-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/lato-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/lato-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #000;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.1;
  margin: 0 0 .5rem 0;
  text-align: center;
}

h1 {
  font-size: 3.375rem;
  letter-spacing: normal;
}

@media (min-width: 768px) {
  h1 {
    font-size: 7.594rem;
  }
}

@media (min-width: 992px) {
  h1 {
    letter-spacing: 2rem;
  }
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 0 0 1rem 0;
}

a {
  transition: color 300ms ease;
  display: inline-block;
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--red);
}

img {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

small {
  font-size: .8rem;
  margin: 0;
  display: block;
}

section {
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.splash-header {
  background-image: url('./elements_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  min-height: 100vh;
}

@media (min-width: 576px) {
  .splash-header {
    background-attachment: fixed;
  }
}

@media (min-width: 768px) {
  .splash-header h2 {
    font-size: 3.375rem;
  }
}

.splash-footer {
  text-align: center;
  padding: 1rem 0;
}

.social {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  list-style: none;
  padding: 0;
}

.social li {
  margin-bottom: 0;
}

.social-link {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms ease;
  fill: #000;
  background-color: var(--blue);
  color: #000;
}

.social-link:hover {
  color: #000;
  background-color: var(--red);
  text-decoration: none;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.email {
  margin-bottom: 1rem;
  word-break: break-all;
}

.gear {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .gear {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .cta {
    display: flex;
    flex-direction: row;
  }
}

.cta {
  justify-content: center;
}

.cta-button {
  background: #222;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background 300ms ease;
  width: 100%;
  margin-bottom: 1rem;
}

.cta-button:first-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .cta-button {
    max-width: 10rem;
    margin-bottom: 0;
  }

  .cta-button:first-child {
    margin-right: .5rem;
  }
}

.cta-button:hover {
  color: #fff;
  text-decoration: none;
  color: inherit;
}

.cta-button--red:hover {
  background: var(--red);
}

.cta-button--blue:hover {
  background: var(--blue);
}
