*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #000;
  color: #fff;
}

section {
  padding-top: 2rem;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

a {
  color: #6d74f2;
}

h1,
h2 {
  text-align: center;
  font-weight: 100;
  line-height: 1.2;
  margin: 0 0 0.5rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

small {
  font-weight: 600;
  font-size: 80%;
}

footer {
  padding: 2rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.albums li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
}

.albums li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.container {
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 auto;
}

.cover {
  background: url("../images/cu3.webp") center center scroll no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 2rem 0;
}

@media (min-width: 576px) {
  .cover {
    background-attachment: fixed;
  }
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.col {
  display: flex;
  flex: 1;
  justify-content: center;
}

@media (min-width: 576px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .col {
    justify-content: flex-start;
  }
}

.col-end {
  justify-content: flex-end;
}

.social {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 1rem;
}

.social > li {
  flex: 1 0 50%;
  margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
  .social {
    padding-top: 0;
  }

  .social > li {
    flex: 1 0 auto;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.yt {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.logo {
  margin-bottom: 2rem;
}
