*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  background: #000;
  color: #fff;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.5rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin: 0 0 1rem;
}

.container {
  width: 100%;
  max-width: 960px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.cover {
  padding: 2rem 0;
  text-align: center;
}

@media (min-width: 576px) {
  .cover {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
}

.section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.hero {
  background: url("../images/cu3.webp") center center fixed;
  background-size: cover;
}

.hero img {
  margin-bottom: 3rem;
}

.hero h1 {
  font-weight: 200;
}

footer {
  text-align: center;
}

small {
  font-size: 0.8rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-link {
  display: block;
  height: 50px;
  width: 50px;
}

.social-link svg {
  transition: fill 300ms ease;
  fill: #0460d9;
}

.social-link:hover svg {
  fill: #bf0404;
}

.yt {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
